html, body {
    height: 100%;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Lora', serif;
    font-size: 110%;
    width: 100%;
    margin: 0;
    background-color: #635045;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 400px;
    background-image: url('/static/img/yk.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    margin: auto;
}

.hero h1 {
    font-family: 'Berkshire Swash', cursive;
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    background-color: rgba(50, 50, 50, 0.55);
    margin: auto;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

q {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color: #555;
}

nav {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav ul {
    display: block;
    list-style-type: none;
    width: 100%;
    margin: 0;
}

nav ul li {
    display: inline-block;
    width: 100%;
    margin-bottom: .5em;
    background-color: rgba(60, 60, 68, 0.75);
    text-align: center;
    line-height: 2em;
    border-left: 2px solid #c2b4a6;
    transition: 0.3s;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    height: 100%;
}

nav ul li:hover {
    background-color: rgba(100, 100, 108, 0.75);
    cursor: pointer;
}

nav ul li:hover, nav ul li.active {
    border-left: 6px solid #6e7f29;
}

nav ul li.burger-menu {
    border: none;
    margin: 0;
}

.wrapper {
    padding-top: 1em;
    background-image: url('/static/img/noise-min.png');
}

article {
    padding: 1em 1.25em 1em 1.5em;
    background-color: #eaded0;
    border-right: 3px solid #c2b4a6;
    border-top-right-radius: 10px;
}

section {
    margin-top: 2em;
}

footer {
    font-size: 0.75em;
    color: #ddd;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 720px) {
    .wrapper {
        width: 100%;
        overflow-x: hidden;
        padding-top: 0;
        border-top: 1px solid #c2b4a6;
    }
    nav ul {
      padding: 0;
    }
    nav ul li {
        display: none;
    }
    nav.responsive ul li {
      display: block;
      margin-bottom: .2em;
    }
    article {
        margin-top: -16px;
        border-top: 1px solid #c2b4a6;
        padding: 1em 1.25em 1em 1.5em;
        background-color: #eaded0;
        border-right: none;
        border-top-right-radius: 0;
    }
    .mobile {
        display: inherit;
    }
}
